<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0085D0">
                aaa
            </div>
            <div class="modal-body">
                bbb
            </div>
        </div>
    </div>
</div>